* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    border-radius: 30px;
    box-shadow: 0 10px 20px #afacac;
    width: 65vw;
    height: 65vh;
    background-image: radial-gradient(#fcdebe91, #fcdebe3c);
}

.content {
  height: 90%;
  display: flex;
}

.filter-menu {
  margin-top: 15px;
  width: 150px;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.filter-menu h2, .filter-menu h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-group {
  
  justify-content: center;
  align-items: center;
}

.filter-group label {
  display: block;
  border-bottom: 1px solid #ffffff82;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: medium;
}

.filter-menu button {
  width: 100px;
  height: 30px;
  background-color: #DBCDBC;;
  border-radius: 15px;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: #ffffff;
  box-shadow: 0 5px 10px #a06a3890;
  cursor: pointer;
}

.filter-menu button:hover{
  background-color: #ee7c2a69;
  color: #9c5625;
}

/***/

.listagemDireita {
  border-left: 1px solid #ffffff82;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tableProdutos {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  width: 95%;
  overflow: hidden;;
  margin-left: 20px;
}

.tableProdutos th {
  font-weight: light;
  color: #000000;
}

.tableProdutos th,
.tableProdutos td {
  padding: 10px 5px;
  text-align: center;
  color: rgb(0, 0, 0);
}


.tableProdutos tr:hover {
  background-color: #DBCDBC;
}

.btnEditar {
  color: #ffffff;
  background-color: #9c5625;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

.btnEditar a {
  color: #ffffff;
  text-decoration: none;
}

.btnEditar:hover{
  background-color: #ee7c2a69;
}

.btnExcluir {
  text-decoration: none;
  color: #ffffff;
  background-color: #9a1717;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.btnExcluir:hover {
  background-color: #ef59599c
}

.pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 25px;
}

.pagina button {
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.pagina button:hover {
  background-color: #9c5625;
  color: #ffffff;
}