nav {
    display: flex;
    width: 65vw;
    height: 18vh;
    border-radius: 30px;
    box-shadow: 0 10px 20px #afacac;
    flex-direction: column;
    background-image: radial-gradient(#fcdebe91, #fcdebe3c);
    align-items: center;
    margin-bottom: 70px;
}

nav h3, h1 {
    margin-top: 15px;
    font-weight: 50;
}

button {
    background-color: transparent;
}

.user, .home {
    margin-top: -5px;
    border: none;
    cursor: pointer;
    width: 40px; /* mesmo tamanho do hover */
    height: 40px; /* mesmo tamanho do hover */
    justify-content: center;
    align-items: center;
    display: flex; /* para centralizar a imagem */
    flex-direction: column; /* <-- faz com que img fique em cima e texto embaixo */

}
.user img, .home img {
    width: 20px;
    justify-content: center;
}

.user a, .home a {
    color: #000000;
    text-decoration: none;
    font-weight: 100;
}

.user:hover, .home:hover{
    background-color: #fcdebe64;
    border-radius: 10px;
    border: none;
}

.menu{
    margin-top: 15px;
    display: flex;
    height: 1vh;
    justify-content: space-between;
    list-style: none;
    width: 75%;
}

.menu-icon a{
    background-color: #DBCDBC;
    border: 1px solid #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.menu-icon{
    cursor: pointer;
    list-style: none;
    position: relative;
    width: 30px;
}

.menu-icon img{
    width: 30px;
}

.menu-dropdown{
    background-color: #DBCDBC;
    border: 1px solid #ffffff;
    display: none;
    width: 105px;
    padding-left: 5px;
}

.menu-icon:hover .menu-dropdown{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100%;
}

.menu-dropdown:hover {
    background-color: #a2917cba;
}

.menu-dropdown-right {
    display: none;
    list-style: none;
    width: 80px;
    margin-left: 102px;
    position: absolute;
    padding-left: 5px;
}

.menu-dropdown:hover .menu-dropdown-right{
    display: block;
}

.menu-dropdown-right a:hover {
    background-color: #a2917cba;
}

.search img {
    justify-content: center;
    width: 15px;
    cursor: pointer;
}

nav input {
    width: 400px;
    height: 22px;
    border: none;
    padding-left: 5px;
    border-radius: 10px;
}

input::placeholder {
    padding-left: 5px;
}

.search {
    border: none;
}
