* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

nav {
    display: flex;
    width: 65vw;
    height: 18vh;
    border-radius: 30px;
    box-shadow: 0 10px 20px #afacac;
    flex-direction: column;
    background-image: radial-gradient(#fcdebe91, #fcdebe3c);
    align-items: center;
    margin-bottom: 70px;
}

nav h3, h1 {
    margin-top: 15px;
    font-weight: 50;
}

.container {
    border-radius: 30px;
    box-shadow: 0 10px 20px #afacac;
    width: 65vw;
    height: 65vh;
    background-image: radial-gradient(#fcdebe91, #fcdebe3c);
}

.dados {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#dados-esquerda, #dados-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#dados-esquerda {
    margin-right: 50px;
}

#dados-direita {
    margin-left: 50px;
}
      
.usuario, .senha, .email {
    color: #000000;
    font-size: 1rem;
    padding-left: 15px;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 10px #a06a3890;
}

#capa {
    margin-top: 5px;
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #DBCDBC;
}

#dados-direita button {
    width: 310px;
    height: 40px;
    background-color: #DBCDBC;;
    border-radius: 15px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: #ffffff;
    box-shadow: 0 5px 10px #a06a3890;
}

#dados-direita button a {
    text-decoration: none;
    color: #ffffff;
}

#dados-direita button:hover{
    cursor: pointer;
    background-color: #ee7c2a69;
    color: #9c5625;
}

#dados-direita button:hover a{
    color: #9c5625;
}